@using Microsoft.AspNetCore.Http.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav>
            @if (this.User != null
            && this.User.Identity != null
            && this.User.Identity.IsAuthenticated == true)
            {
                @Html.RouteLink("Logout", "account-logout")
            }
            else
            {
                @Html.RouteLink("Oidc Login", "account-login", new { returnUri = this.Context.Request.GetDisplayUrl() })
                <br />
                @Html.RouteLink("Oidc Login(QQ)", "account-login", new { idp = "qq", returnUri = this.Context.Request.GetDisplayUrl() })
                <br />
                @Html.RouteLink("Oidc Login(Github)", "account-login", new { idp = "github", returnUri = this.Context.Request.GetDisplayUrl() })
            }
        </nav>
    </header>
    <br />
    @RenderBody()

    <footer>
        @{ var OSArchitecture = System.Runtime.InteropServices.RuntimeInformation.OSArchitecture.ToString();
            var OSDescription = System.Runtime.InteropServices.RuntimeInformation.OSDescription;
            var ProcessArchitecture = System.Runtime.InteropServices.RuntimeInformation.ProcessArchitecture.ToString();
            var FrameworkDescription = System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription; }
        <br />
        <table>
            <tr>
                <td colspan="2">Runtime Info</td>
            </tr>
            <tr>
                <td>OS</td>
                <td>@OSDescription @OSArchitecture</td>
            </tr>
            <tr>
                <td>CPU</td>
                <td>@ProcessArchitecture</td>
            </tr>
            <tr>
                <td>Framework</td>
                <td>@FrameworkDescription</td>
            </tr>
        </table>
    </footer>
</body>
</html>
