<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Implicit Client - @ViewBag.Title</title>
</head>
<body>
    <header>
        <nav>
            @if (this.User != null
                && this.User.Identity != null
                && this.User.Identity.IsAuthenticated == true)
            {
                @Html.RouteLink("Logout", "account-logout")
            }
            else
            {
                @Html.RouteLink("Use ids3 Login", "account-login", new { returnUri = this.Request.Url })
                <br />
                @Html.RouteLink("Use ids4 Login", "account-login", new { returnUri = this.Request.Url , authType= Constants.AuthenticationTypeOfIds4 })
                <br />
                @Html.RouteLink("QQ Login(ids3)", "account-qq-login", new { returnUri = this.Request.Url })
                <br />
                @Html.RouteLink("QQ Login(ids4)", "account-qq-login", new { returnUri = this.Request.Url, authType = Constants.AuthenticationTypeOfIds4 })
            }
        </nav>
    </header>
    <br />
    @RenderBody()
</body>
</html>