<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav>
            @if (this.User != null
               && this.User.Identity != null
               && this.User.Identity.IsAuthenticated == true)
            {
                @Html.RouteLink("Logout", "account-logout")
            }
            else
            {
                @Html.RouteLink("Login (QQ)", "account-login", new { idp = "qq", returnUri = this.Context.Request.Path.Value })
                <br />
                @Html.RouteLink("Login (QQ Mobile)", "account-login", new { idp = "qq", returnUri = this.Context.Request.Path.Value, isMobile = true })
                <br />
                @Html.RouteLink("Login (Github)", "account-login", new { idp = "github", returnUri = this.Context.Request.Path.Value})
            }
        </nav>
    </header>
    <br />
    @RenderBody()
</body>
</html>